<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientUrl" value="https://qa.kyc.dhltd.com" />
    <add key="AdminUrl" value="http://qa.admin.kyc.dhltd.com" />
    <add key="ClientUsername" value="rbc_monitoring" />
    <add key="ClientPassword" value="Spring@2019" />
    <add key="AdminUsername" value="CGadmin" />
    <add key="AdminPassword" value="Spring@2019" />
    <add key="Logs" value="No" />
    <add key="Browser" value="chrome" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Notify?" value="Yes" />
    <add key="NotifyEmail" value="mdiddla@teranet.ca" />
    <add key="PathToAutoClient" value="C:\\Users\\md7410\\AppData\\Local\\Apps\\2.0\\1V7DZWHP.9WW\RDV0ZBO8.9R2\\dh.e..tion_a424fa82e9700394_0003.0000_230d590536414369\\DH.eSearch.Automation.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>